<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">



</head>

<body>

  <div class="container">
    <h2>
      Alumnos
      <a href="{% url 'create' %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus"></span> Alta Alumno
      </a>
    </h2>
    <div class="col-md-12">
      <table class="table" id="tabla1" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido materno</th>
            <th>Fecha de nacimiento</th>
            <th>Direccion</th>
            <th>Numero de celular</th>
            <th>Semestre</th>
            <th>Correo</th>
            <th>Horario</th>
          </tr>
        </thead>
        <tbody>
          {% for alumnos in alumnos %}
          <tr>
            <td>{{ alumnos.id }}</td>
            <td>{{ alumnos.nombre}}</td>
            <td>{{ alumnos.apellido_paterno}}</td>
            <td>{{ alumnos.apellido_materno}}</td>
            <td>{{ alumnos.fecha_nac}}</td>
            <td>{{ alumnos.direccion}}</td>
            <td>{{ alumnos.num_cel}}</td>
            <td>{{ alumnos.semestre}}</td>
            <td>{{ alumnos.correo}}</td>
            <td>{{ alumnos.horario_alumno}}</td>
            <td>
              <a href="delete/{{alumnos.id}}" title="Eliminar" type="button" class="btn btn-danger">Eliminar </a>
            </td>
            <td>
              <a href="edit/{{alumnos.id}}" title="Editar" type="button" class="btn btn-success">Editar </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6" class="text-center">No alumnos</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>
