{% extends 'crudapp/base.html' %}

{% block content %}

<div class="container">
  <h2>
    Alumnos
    <a href="{% url 'create' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-plus"></span> Alta Alumno
    </a>
  </h2>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido materno</th>
        <th>Fecha de nacimiento</th>
        <th>Direccion</th>
        <th>Numero de celular</th>
        <th>Semestre</th>
        <th>Correo</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      {% for alumnos in alumnos %}
      <tr>
        <td>{{ alumnos.id }}</td>
        <td>{{ alumnos.nombre}}</td>
        <td>{{ alumnos.apellido_paterno}}</td>
        <td>{{ alumnos.apellido_materno}}</td>
        <td>{{ alumnos.fecha_nac}}</td>
        <td>{{ alumnos.direccion}}</td>
        <td>{{ alumnos.num_cel}}</td>
        <td>{{ alumnos.semestre}}</td>
        <td>{{ alumnos.correo}}</td>
        <td>{{ alumnos.horario_alumno}}</td>
        <td>
          <a href="delete/{{alumnos.id}}" title="Eliminar" type="button" class="btn btn-danger">Eliminar </a>
        </td>
        <td>
          <a href="edit/{{alumnos.id}}" title="Editar" type="button" class="btn btn-success">Editar </a>
        </td>
        </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No alumnos</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}



<!-- 

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Alumnos</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10"></div>
        <div class="col-md-2 col-xs-1 col-sm-1">
            <br />
            <a href="{% url 'create' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-7 col-xs-7 col-sm-7">
            <ul class="list-group">

                <li class="list-group-item ">
                    <a href="{% url 'detail' contact.pk %}"> {{ alumno.firstName }} {{alumno.lastName}} </a> <span class="badge"></span>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <a href="{% url 'detail' alumno.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-open"></span>
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'edit' alumno.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'delete' alumno.pk %}">
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    
</div>
 -->
 